.u-section-1 .u-sheet-1 {
  min-height: 569px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 256px;
  height: 256px;
  margin: -201px 0 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 60px 0;
}